<p id="notice"><%= notice %></p>

<h1>Elenco Modelli</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Descrizione</th>
      <th>Taglie</th>
      <th>Colori</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mods.each do |mod| %>
      <tr >
        <td><%= if mod.shape then mod.shape.description else "Tipo inesistente" end %></td>
        <td><%= mod.description %></td>
        <td><%= mod.size.map{|s| s.description}.join(", ") %></td>
        <td><%= mod.color.map{|c| c.description}.join(", ") %></td>
        <td><%= link_to 'Modifica', edit_mod_path(mod) %></td>
        <td><%= link_to 'Colori/Taglie', mod %></td>
        <td><%= link_to 'Elimina', mod, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi Nuovo', new_mod_path, :class=>"button large" %>  <%= link_to 'Torna al pannello di controllo', root_path , :class=>"button large" %>
