<%= form_for(@artcat) do |f| %>
  <% if @artcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artcat.errors.count, "error") %> prohibited this artcat from being saved:</h2>

      <ul>
      <% @artcat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "descrizione" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "File icona" %><br>
    <%= f.text_field :path %>
  </div>
  <div class="actions">
    <%= f.submit "Salva", :class => "button" %>
  </div>
<% end %>
