<p id="notice"><%= notice %></p>

<h2>Categorie Disegni</h2>

<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th>Icona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artcats.each do |artcat| %>
      <tr>
        <td><%= artcat.description %></td>
        <td><%= artcat.path %></td>
        <td><%= link_to 'Mostra', artcat %></td>
        <td><%= link_to 'Modifica', edit_artcat_path(artcat) %></td>
        <td><%= link_to 'Elimina', artcat, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Categoria', new_artcat_path, :class =>"button" %>
<%= link_to 'Torna al backoffice', root_path, :class =>"button" %>
