<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @artcat.description %>
</p>

<p>
  <strong>Path:</strong>
  <%= @artcat.path %>
</p>

<%= link_to 'Edit', edit_artcat_path(@artcat) %> |
<%= link_to 'Back', artcats_path %>
