<p id="notice"><%= notice %></p>

<h1>Elenco Disegni</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Immagine</th>
      <th>Categorie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.name %></td>
        <td><%= artwork.description %></td>
        <td><%= artwork.path %></td>
        <td><%= artwork.artcat.map { |e| e.description  }.join(", ") %></td>
        <td><%= link_to 'Mostra', artwork %></td>
        <td><%= link_to 'Modifica', edit_artwork_path(artwork) %></td>
        <td><%= link_to 'Elimina', artwork, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artwork', new_artwork_path %>
