<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%=  @artwork.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <%= image_tag "catalog/"+@artwork.path %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
