<p id="notice"><%= notice %></p>


<h3> <%=  @artwork.name %></h3>


<p>
  
  <%= @artwork.description %>
</p>

<p>
<strong>Categoria principale:</strong><br>
  <%= @artwork.maincat.description %>
</p>

<p>
  <%= image_tag "catalog/"+@artwork.path %>
</p>


<%= link_to 'Torna a elenco Disegni', artworks_path, :class=>"button expand" %>
