<p id="notice"><%= notice %></p>

<h1>Tipi Maglia</h1>

<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @shapes.each do |shape| %>
      <tr>
        <td><%= shape.description %></td>
        <td><%= link_to 'Modifica', edit_shape_path(shape) %></td>
        <td><%= link_to 'Elimina', shape, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi Nuovo', new_shape_path, :class=>"button large" %>  <%= link_to 'Torna al pannello di controllo', root_path , :class=>"button large" %>
