<p id="notice"><%= notice %></p>

<h1>Modelli</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Descrizione</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shirts.each do |shirt| %>
      <tr>
        <td><%= shirt.shape.description %></td>
        <td><%= shirt.description %></td>
        
        <td><%= link_to 'Taglia/colore', shirt %></td>
        <td><%= link_to 'Modifica', edit_shirt_path(shirt) %></td>
        <td><%= link_to 'Elimina', shirt, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi', new_shirt_path, :class => "button large" %> <%= link_to 'Torna alla Home', root_path, :class => "button large" %>
