<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @font.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @font.path %>
</p>

<%= link_to 'Edit', edit_font_path(@font) %> |
<%= link_to 'Back', fonts_path %>
