<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "ILT" %></title>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %></head>

<body>
  <div class="row">
    <div class="small-12 column ">
      <h1 class="text-center">I LOVE T-SHIRT</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <%= yield %>
    </div>

  </div>

  <%= javascript_include_tag "application" %></body>
</html>