<%= form_for(@printjob, :html =>
{:class => 'custom'}) do |f| %>
<% if @printjob.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@printjob.errors.count, "error") %>prohibited this printjob from being saved:</h2>

  <ul>
    <% @printjob.errors.full_messages.each do |message| %>
    <li>
      <%= message %></li>
    <% end %></ul>
</div>
<% end %>
<ul class="tabs" data-tab data-options="deep_linking:true">
  <li class="tab-title active">
    <a href="#panel1">Maglia</a>
  </li>
  <li class="tab-title">
    <a href="#panel2">Disegno</a>
  </li>
</ul>
<div class="tabs-content" >
  <div class="content active" id="panel1">
    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %></div>
    <div class="field">
      <%= f.label :shape_id %>
      <br>
      <%= f.select :shape_id, options_for_select(Shape.all.map{|s|[s.description, s.id]}, 1), {}, { id: 'shapes_select' } %></div>




    <div class="field">
      <%= f.label :mod_id %>
      <br>
      <%= f.select(:mod_id,  '',  {:prompt   => "Seleziona un modello"}, {:id => 'mods_select'}) %>
      </div>
    
    <div class="field">
      <%= f.label :color_id %>
      <br>
      <%= f.select(:color_id,  '',   {:prompt   => "Seleziona un colore"}, {:id => 'colors_select'}) %>
      </div>
    <div id="color_thumb">
      
    </div>
    
    <div class="field">
      <%= f.label :size_id %>
      <br>
      <%= f.select(:size_id,  '',   {:prompt   => "Seleziona una taglia"}, {:id => 'sizes_select'}) %>

      </div>
      <a href="#panel2" class="button">Avanti &gt;&gt;</a>
  </div>
  <div class="content" id="panel2">
    <div class="field">
      <%= f.label :artwork_id %>
      <br>
      <%= f.select :artwork_id, options_for_select(Artwork.all.map{|s|[s.description, s.id]}, 1), {}, { id: 'artwork_select' } %></div>
      <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note %>
      </div>
    Strass
    <div class=" switch ">
      <%= f.check_box :diamond %>
      <%= f.label :diamond %></div>
    Nome Sotto
    <div class="switch">
      <%= f.check_box :name_under %>
      <%= f.label :name_under %></div>
    Nome Dietro
    <div class="switch">
      <%= f.check_box :name_behind %>
      <%= f.label :name_behind %></div>

    <div class="actions">
      <%= f.submit "Avvia Lavoro", :class =>"button" %></div>
    <% end %></div>
</div>