<p id="notice"><%= notice %></p>

<h1>Coda di Stampa</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shape</th>
      <th>Mod</th>
      <th>Color</th>
      <th>Size</th>
      <th colspan="2">Artwork</th>
      <th>Diamond</th>
      <th>Name under</th>
      <th>Name behind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @printjobs.each do |printjob| %>
      <tr>
        <td><%= printjob.name %></td>
        <td><%= printjob.shape.description %></td>
        <td><%= printjob.mod.description %></td>
        <td><%= printjob.color.description %></td>
        <td><%= printjob.size.description %></td>
        <td><%= image_tag 'catalog/'+ printjob.artwork.path, :class =>'thumb_art' %></td>
        <td><%= printjob.artwork.name%></td>
        <td><%= printjob.diamond %></td>
        <td><%= printjob.name_under %></td>
        <td><%= printjob.name_behind %></td>
        <td><%= link_to 'O', printjob %></td>
        <td><%= link_to 'E', edit_printjob_path(printjob) %></td>
        <td><%= link_to 'X', printjob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Printjob', new_printjob_path %>
