<p id="notice"><%= notice %></p>

<h1>Coda di Stampa</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shape</th>
      <th>Mod</th>
      <th>Color</th>
      <th>Size</th>
      <th colspan="2">Artwork</th>
      <th>Strass</th>
      <th>Nome sotto</th>
      <th>Nome dietro</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @printjobs.each do |printjob| %>
      <tr>
        <td><%= printjob.name %></td>
        <td><%= printjob.shape.description %></td>
        <td><%= printjob.mod.description %></td>
        <td><%= printjob.color.description %></td>
        <td><%= printjob.size.description %></td>
        <td><%= image_tag 'catalog/'+ printjob.artwork.path, :class =>'thumb_art' %></td>
        <td><%= printjob.artwork.name%></td>
        <td><%= printjob.diamond  ? "si" : "no" %></td>
        <td><%= printjob.name_under ? "si" : "no" %></td>
        <td><%= printjob.name_behind  ? "si" : "no"  %></td>
        <td><%= printjob.note %></td>
        <td><%= link_to 'O', printjob %></td>
        <td><%= link_to 'E', edit_printjob_path(printjob) %></td>
        <td><%= link_to 'X', printjob, method: :mark_completed, data: { confirm: 'Vuoi segnare questo lavoro come completo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', '/', :class=>'button large expand' %>
