<p id="notice"><%= notice %></p>

<h3>
   <%= @printjob.name %>
</h3>

<p>
  <strong>Tipo:</strong>
  <%= @printjob.shape.description %>
</p>

<p>
  <strong>Modello:</strong>
  <%= @printjob.shirt.description %>
</p>

<p>
  <strong>Colore:</strong>
  <%= @printjob.color.description %> 
</p>

<p>
  <strong>Taglia:</strong>
  <%= @printjob.size.description %>
</p>

<p>
  <strong>Disegno:</strong>
  <%= @printjob.artwork.name %><br>
  <%= image_tag 'catalog/'+ (@printjob.artwork ? @printjob.artwork.path : "notfound.jpg"), :class =>'thumb' %>
</p>

<p>
  <strong>Strass:</strong>
  <%= @printjob.diamond ? "Sì" : "No" %>
</p>

<p>
  <strong>Nome sotto:</strong>
  <%= @printjob.name_under ? "Sì" : "No"  %>
</p>

<p>
  <strong>Nome dietro:</strong>
  <%= @printjob.name_behind ? "Sì" : "No" %>
</p>

<p>
  <strong>Note:</strong>
  <%= @printjob.note %>
</p>

<p>
  <strong>Testo:</strong>
  <%= @printjob.lettering %>
</p>

<p>
  <strong>Font:</strong>
  <%= Font.find(@printjob.font_id).name %>
</p>

<%= link_to 'Elenco Lavori', printjobs_path,  :class=>"button" %> <%= link_to 'Nuovo lavoro', new_printjob_path,  :class=>"button" %>
